{% extends 'base.html.twig' %}
{% block content %}
<div class="modal is-small" id="videomodal">

  <div class="modal-background"></div>
  <div class="modal-content has-video has-text-centered">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dCY-pR8BTbs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen autoplay="1"></iframe>
    <button class="modal-close is-large close-button" data-modal="videomodal" aria-label="close"></button>
  </div>
</div>
<section class="hero is-medium" id="home">
    {% include 'snippets/nav.twig' %}
  <video autoplay loop  id="homevid" class="video-bg">
      <source src="{{ theme.link }}/dist/video/home.mp4" type="video/mp4">
  </video>

  <div class="mask"></div>
  <div class="hero-body">
    <div class="container">
      <div class="columns has-text-centered is-multiline">
        <div class="column is-full">
          <h1 class="title is-1">
            <small>aprende</small><br>
            <span class="big">liderazgo, innnovación y más</span>
          </h1>
          
        </div>
        <div class="column is-full">
          <a href="" id="playvideo">
            <i class="icon is-large">
              <span class="far fa-play-circle fa-5x"></span>
            </i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper white bordered">
      <div class="container">
        <div class="columns is-vcentered is-multiline">
          <div class="column is-narrow">
            <h5 class="title is-4 is-capitalized">hemos trabajado con</h5>
          </div>
          <div class="column has-text-centered">
            <img src="{{theme.link}}/dist/img/gobernacion.jpg" alt="peple plays">
          </div>
          <div class="column has-text-centered">
            <img src="{{theme.link}}/dist/img/rcn.jpg" alt="peple plays">
          </div>
          <div class="column has-text-centered">
            <img src="{{theme.link}}/dist/img/autonoma.jpg" alt="peple plays">
          </div>
          <div class="column has-text-centered">
            <img src="{{theme.link}}/dist/img/uninorte.jpg" alt="peple plays">
          </div>
        </div>
      </div>
  </div>
</section>
{% include 'snippets/testimonies.twig' %}
<section class="section" id="main">
  <div class="container">
    <div class="columns is-variable-in-desktop is-8 is-multiline has-text-centered">
      <div class="column">
        <hr>
      </div>
      <div class="column is-narrow">
        <h2 class="title is-2">{{post.get_field("justification_title")}}</h2>
      </div>
      <div class="column">
        <hr>
      </div>
    </div>
    <br><br>
    <div class="columns is-vcentered is-multiline is-variable-in-desktop is-8">
      {% for justi in post.get_field("justifications") %}
      <div class="column is-full">
        <div class="columns is-vcentered {{ loop.index % 2 == 0 ? 'reversed' : '' }}">
          <div class="column">
            <img src="{{justi.img}}" alt="">
          </div>
          <div class="column is-two-thirds {{ loop.index % 2 == 0 ? 'has-text-right-desktop' : '' }}">
            <h3 class="title is-3 is-blue">{{justi.title}}</h3>
            <p class="content is-medium">{{justi.desc}}</p>
            <a href="{{justi.page}}" class="button alt">
              <i class="icon is-medium">
                <i class="fas fa-chevron-right fa-lg"></i>
              </i>
              <span>más información</span>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-variable is-vcentered is-multiline">
      <div class="column is-two-fifths">
        <h3 class="title is-1 is-blue">aliados</h3>
        <h5 class="subtitle is-5">A traves de los años hemos tenido la oportunidad de trabajar con increibles aliados estrategicos y universidades</h5>
      </div>
       <div class="column">
        <img src="{{theme.link}}/dist/img/aliados1.jpg" alt="">
        <img src="{{theme.link}}/dist/img/aliados2.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<section class="section" id="lideres">
  <div class="container">
    <div class="columns is-variable-in-desktop is-8 is-vcentered">
      <div class="column is-half">
        <div class="tag is-large">
          programa
        </div>
        <h3 class="subtitle is-size-3 is-size-2-fullhd">{{programa.title}}</h3>
        <p class="content">{{programa.desc}}</p>
        <a href="{{programa.link}}" class="button alt">
          <i class="icon is-medium">
                <i class="fas fa-chevron-right fa-lg"></i>
              </i>
              <span>más información</span>
        </a>
      </div>
      <div class="column is-half">
        <iframe width="560" height="315" src="{{programa.video_home}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-variable in-desktop is-8 is-vcentered is-multiline">
      <div class="column is-half">
        <h3 class="title is-2">Lleva este programa tu <span class="is-blue">empresa</span> o <span class="is-blue">entidad pública</span></h3>
        <p class="subtitle is-5">Entrena a tu equipo y compañeros en liderazgo e innovación empresarial.</p>
        <a class="button alt alt-font">
          <span class="icon">
            <i class="far fa-envelope"></i>
          </span>
          <span>manuelmariamarquez@thecenterforcompetitiveness.org</span>
        </a>
      </div>
      <div class="column is-half">
        <div class="box">
          <h3 class="title is-3">programa especializado</h3>
          <p class="subtitle is-6">Dejanos tus datos y te contactaremos para crearte un programa especializado</p>
          {{function('do_shortcode','[wpforms id="22" title="false" description="false"]')}}
        </div>
      </div>
      <div class="column is-full">
        <h4 class="subtitle is-5">Hemos hecho estos programa con la <strong>Gobernación del Atlantico, etc etc</strong></h4>
      </div>
    </div>
  </div>
</section>
<section class="section" id="contact">
  <div class="container">
    <div class="columns is-centered is-multiline has-text-centered">
      <div class="column is-one-third">
        <hr>
      </div>
      <div class="column is-one-third">
        <h2 class="title is-2">contactanos</h2>
      </div>
      <div class="column is-one-third">
        <hr>
      </div>
      <div class="column is-half">
        <a class="button alt alt-font">
          <span class="icon">
            <i class="far fa-envelope"></i>
          </span>
          <span>manuelmariamarquez@thecenterforcompetitiveness.org</span>
        </a>
        <br>
        <a class="button alt alt-font">
          <span class="icon">
            <i class="fas fa-phone"></i>
          </span>
          <span>+57 38282828</span>
        </a>
        <br>
        <a class="button alt alt-font">
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
          <span>Direccion</span>
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock %}