{% extends 'base.html.twig' %}
{% block content %}
<div class="modal is-small" id="videomodal">

  <div class="modal-background"></div>
  <div class="modal-content has-video has-text-centered">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dCY-pR8BTbs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen autoplay="1"></iframe>
    <button class="modal-close is-large close-button" data-modal="videomodal" aria-label="close"></button>
  </div>
</div>
{% include 'snippets/testimonies.twig' %}
<section class="section" id="main">
  {% include 'snippets/nav.twig' %}
  <div class="container">
    <div class="columns is-variable-in-desktop is-8 is-multiline has-text-centered">
      <div class="column">
        <hr>
      </div>
      <div class="column is-half">
        <h2 class="title is-2">{{post.get_field("justification_title")}}</h2>
      </div>
      <div class="column">
        <hr>
      </div>
    </div>
    <br><br>
    <div class="columns is-multiline">
      {% for justi in post.get_field("justifications") %}
      {% if justi.sub is not empty %}
      <div class="modal" id="justi_{{loop.index}}_modal">

        <div class="modal-background"></div>
        <div class="modal-card">
          <div class="modal-card-body">
            <div class="columns is-variable in-desktop is-6">
              {% for subi in justi.sub %}
              <div class="column">
                <h4 class="title is-3">{{subi.title}}</h4>
                <a href="{{subi.page}}" class="button alt">
                  <i class="icon is-medium">
                    <i class="fas fa-chevron-right fa-lg"></i>
                  </i>
                  <span>más información</span>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
          <button class="modal-close is-large close-button" data-modal="justi_{{loop.index}}_modal" aria-label="close"></button>
        </div>
      </div>
      {% endif %}
      <div class="column is-one-third">
        <div class="card" id="justi_{{loop.index}}">
          {% if justi.img is not empty %}
          <div class="card-image">
            <figure class="image">
              <img src="{{justi.img}}" alt="Placeholder image">
            </figure>
          </div>
          {% endif %}
          <div class="card-content">
            <h4 class="title is-3">{{justi.title}}</h4>
            {% if justi.desc is not empty %}
            <div class="content is-small">
              {{justi.desc}}
            </div>
            {% endif %}
            <a href="{{justi.page}}" class="button alt {{ justi.sub is not empty ? 'opener' : ''}}" {{ justi.sub is not empty ? 'data-modal="justi_' ~ loop.index ~ '_modal" ' : ''}}>
              <i class="icon is-medium">
                <i class="fas fa-chevron-right fa-lg"></i>
              </i>
              <span>más información</span>
            </a>
            {{ justi.sub }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-variable in-desktop is-multiline">

      <div class="column is-two-thirds">
        <h3 class="title is-1 is-blue">nuestra institución</h3>
        <h5 class="subtitle is-5">A traves de los años hemos tenido la oportunidad de trabajar con increibles aliados estrategicos y universidades. Mira más de nuestra institución</h5>
        <a href="#" class="button alt is-large" >
          <i class="icon is-medium">
            <i class="fas fa-chevron-right fa-lg"></i>
          </i>
          <span>más información</span>
        </a>
        
      </div>
      <div class="column has-text-centered">
        <img src="{{theme.link}}/dist/img/logo.png" alt="">
      </div>
    </div>
    <div class="columns is-vcentered">
      <div class="column">
        <img src="{{theme.link}}/dist/img/aliados1.jpg" alt="">
        
      </div>
      <div class="column">
        <img src="{{theme.link}}/dist/img/aliados2.jpg" alt="">
      </div>
    </div>
  </div>
</section>
{#
<section class="section" id="lideres">
  <div class="container">
    <div class="columns is-variable-in-desktop is-8 is-vcentered">
      <div class="column is-half">
        <div class="tag is-large">
          programa
        </div>
        <h3 class="subtitle is-size-3 is-size-2-fullhd">{{programa.title}}</h3>
        <p class="content">{{programa.desc}}</p>
        <a href="{{programa.link}}" class="button alt">
          <i class="icon is-medium">
                <i class="fas fa-chevron-right fa-lg"></i>
              </i>
              <span>más información</span>
        </a>
      </div>
      <div class="column is-half">
        <iframe width="560" height="315" src="{{programa.video_home}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-variable in-desktop is-8 is-vcentered is-multiline">
      <div class="column is-half">
        <h3 class="title is-2">Lleva este programa tu <span class="is-blue">empresa</span> o <span class="is-blue">entidad pública</span></h3>
        <p class="subtitle is-5">Entrena a tu equipo y compañeros en liderazgo e innovación empresarial.</p>
        <a class="button alt alt-font">
          <span class="icon">
            <i class="far fa-envelope"></i>
          </span>
          <span>Info@thecenterforcompetitiveness.org</span>
        </a>
      </div>
      <div class="column is-half">
        <div class="box">
          <h3 class="title is-3">programa especializado</h3>
          <p class="subtitle is-6">Dejanos tus datos y te contactaremos para crearte un programa especializado</p>
          {{function('do_shortcode','[wpforms id="22" title="false" description="false"]')}}
        </div>
      </div>
      <div class="column is-full">
        <h4 class="subtitle is-5">Hemos hecho estos programa con la <strong>Gobernación del Atlantico, etc etc</strong></h4>
      </div>
    </div>
  </div>
</section>#}
<section class="section" id="contact">
  <div class="container">
    <div class="columns is-centered is-multiline has-text-centered">
      <div class="column is-one-third">
        <hr>
      </div>
      <div class="column is-one-third">
        <h2 class="title is-2">contactanos</h2>
      </div>
      <div class="column is-one-third">
        <hr>
      </div>
      <div class="column is-half">
        <a class="button alt alt-font">
          <span class="icon">
            <i class="far fa-envelope"></i>
          </span>
          <span>Info@thecenterforcompetitiveness.org  </span>
        </a>
        <br>
        <a class="button alt alt-font">
          <span class="icon">
            <i class="fas fa-phone"></i>
          </span>
          <span>+575 3785097</span>
        </a>
        <br>
        <a class="button alt alt-font">
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
          <span>Calle 86 No. 50-130</span>
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock %}