{% extends 'base.html.twig' %}
{% block content %}
<div class="modal is-big" id="videomodal">

  <div class="modal-background"></div>
  <div class="modal-card">
    <div class="modal-card-body has-text-centered">
      <div id="video-player"></div>
      {#<iframe width="700" height="350" src="https://www.youtube.com/embed/jX1V1Vy4UbM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen autoplay="1"></iframe>#}
      <br><br>
      <h3 class="subtitle is-5">A través del tiempo hemos trabajado con las siguientes instituciones</h3>
      <img src="{{theme.link}}/dist/img/aliados.png" alt="aliados">
    </div>
    <button class="modal-close is-large close-button" data-modal="videomodal" aria-label="close"></button>
  </div>
</div>
{% include 'snippets/nav.twig' %}
<section class="section" id="main">
  <div class="container">
    <div class="columns is-multiline has-text-centered is-vcentered">
      <div class="column is-hidden-mobile">
        <hr>
      </div>
      <div class="column is-half">
        <h2 class="title is-3 is-blue is-capitalized">¿por qué nuestros programas producen resultados?</h2>
      </div>
      <div class="column is-hidden-mobile">
        <hr>
      </div>
    </div>
    <br><br>
    <div class="columns is-multiline is-variable-in-desktop is-8">
      {% for justi in post.get_field("justifications") %}
      {% if justi.sub is not empty %}
      <div class="modal" id="justi_{{loop.index}}_modal">

        <div class="modal-background"></div>
        <div class="modal-card">
          <div class="modal-card-body">
            <div class="columns is-variable-in-desktop is-6 ">
              {% for subi in justi.sub %}
              <div class="column">
                <h4 class="title is-4 has-text-centered is-capitalized">{{subi.title}}</h4>
                <a href="{{subi.page}}" class="button alt">
                  <i class="icon is-medium">
                    <i class="fas fa-chevron-right fa-lg"></i>
                  </i>
                  <span>más información</span>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
          <button class="modal-close is-large close-button" data-modal="justi_{{loop.index}}_modal" aria-label="close"></button>
        </div>
      </div>
      {% endif %}
      <div class="column is-one-third has-text-centered">
        <div class="card" id="justi_{{loop.index}}">
          <div class="card-content">
            <h4 class="title is-5 is-capitalized">{{justi.title}}</h4>
            {% if justi.desc is not empty %}
            <div class="content is-small">
              {{justi.desc}}
            </div>
            {% endif %}
            
          </div>
          <div class="card-footer">
            <a href="{{justi.page}}" class="card-footer-item button alt {{ justi.sub is not empty ? 'opener' : ''}}" {{ justi.sub is not empty ? 'data-modal="justi_' ~ loop.index ~ '_modal" ' : ''}}>
              <i class="icon">
                <i class="fas fa-chevron-right"></i>
              </i>
              <span>más información</span>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <br>
  <div class="container has-medium-padding-top">
    <div class="columns is-centered">
      <div class="column is-half has-text-centered">
          <a href="{{programa.link}}" class="subtitle is-4">Conviértase en Líder INNOVADOR. HAZ CLIC AQUÍ</a>
        
      </div>
    </div>
  </div>
</section>
<section class="section" id="publicos">
  <div class="container has-medium-padding-bottom">
    <div class="columns is-multiline has-text-centered is-vcentered">
      <div class="column is-hidden-mobile">
        <hr>
      </div>
      <div class="column is-two-thirds">
        <h2 class="title is-3 is-blue is-capitalized">Nuestros programas producen transformaciones en todos los públicos</h2>
      </div>
      <div class="column is-hidden-mobile">
        <hr>
      </div>
    </div>
  </div>
  <div class="container is-small">
    {% for vid in programa.get_field('videos') %}
        <div class="columns is-variable-in-desktop is-6 is-vcentered {{loop.index is divisible by(2) ? 'reversed' : ''  }} has-small-padding-top has-small-padding-bottom">
          <div class="column is-half {{loop.index is divisible by(2) ? 'has-text-right-tablet' : ''  }}">
            <h2 class="title is-size-4 is-capitalized">{{vid.title}}</h2>
            <h4 class="subtitle is-6">{{vid.subtitle}}</h4>
            <a href="{{programa.link}}" class="button alt">
              <i class="icon">
                    <i class="fas fa-chevron-right fa-lg"></i>
                  </i>
                  <span>más información</span>
            </a>
          </div>
          <div class="column is-half {{loop.index is divisible by(2) ? 'has-text-left' : 'has-text-right'  }}">
            <iframe width="400" height="200" src="{{vid.video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <hr>
    {% endfor %}
  </div>
  <div class="container has-medium-padding-top">
    <div class="columns is-centered">
      <div class="column is-half has-text-centered">
          <a href="{{programa.link}}" class="subtitle is-4">Conviértase en Líder INNOVADOR. HAZ CLIC AQUÍ</a>
        
      </div>
    </div>
  </div>
</section>
<section class="section bluebg" id="lideres">
  <div class="container">
    <div class="columns is-variable-in-desktop is-8 is-vcentered has-small-padding-bottom">
      <div class="column is-half">
        <div class="tag is-large">
          programa
        </div>
        <h3 class="subtitle is-size-3 is-size-2-fullhd">{{programa.title}}</h3>
        <p class="content">{{programa.desc}}</p>
        <a href="{{programa.link}}" class="button alt">
          <i class="icon is-medium">
                <i class="fas fa-chevron-right fa-lg"></i>
              </i>
              <span>más información</span>
        </a>
      </div>
      <div class="column is-half">
        <iframe width="560" height="315" src="{{programa.video_home}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <hr>
    <div class="columns is-variable-in-desktop is-8 is-vcentered reversed has-small-padding-top has-small-padding-bottom">
      <div class="column is-half has-text-right-tablet">
        <h2 class="subtitle is-size-3 is-size-2-fullhd is-capitalized">programa especializado</h2>
        <p class="content">Lleva nuestros programa y cursos directamente a tu oficina</p>
        <a href="{{site.link}}/index.php/programa-especializado" class="button alt">
          <i class="icon is-medium">
                <i class="fas fa-chevron-right fa-lg"></i>
              </i>
              <span>más información</span>
        </a>
      </div>
      <div class="column is-half">
        <iframe width="560" height="315" src="{{programa.video_home}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <hr>
    <div class="columns is-variable-in-desktop is-8 is-vcentered has-small-padding-top has-small-padding-bottom">
      <div class="column is-half">
        <h2 class="subtitle is-size-3 is-size-2-fullhd is-capitalized">programa para la mujer</h2>
        <a href="{{site.link}}/index.php/programa-mujer" class="button alt">
          <i class="icon is-medium">
                <i class="fas fa-chevron-right fa-lg"></i>
              </i>
              <span>más información</span>
        </a>
      </div>
      <div class="column is-half">
        <iframe width="560" height="315" src="{{programa.video_home}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

{% include 'snippets/contact.twig' %}

{% endblock %}