{% extends 'base.html.twig' %}
{% block content %}
<div class="modal is-big" id="videomodal">

  <div class="modal-background"></div>
  <div class="modal-card">
    <div class="modal-card-body has-text-centered">
      <div id="video-player" data-video="{{post.video_home}}"></div>
      <br><br>
      <h3 class="subtitle is-5">A través del tiempo hemos trabajado con las siguientes instituciones</h3>
      <div style="background:white;padding:0.8rem">
        <img src="{{theme.link}}/dist/img/aliados.png" alt="aliados">
      </div>
    </div>
    <button class="modal-close is-large close-button" data-modal="videomodal" aria-label="close"></button>
  </div>
</div>
{% include 'snippets/nav.twig' %}
<section class="section bluebg with-divider" id="main">
  <div class="container">
    <div class="columns is-multiline has-text-centered is-centered">
      <div class="column is-full content">
        {{ post.justification_title }}
      </div>
    </div>
    <br><br>
    <div class="columns is-multiline is-variable-in-desktop is-8">
      {% for justi in post.get_field("justifications") %}
      {% if justi.sub is not empty %}
      <div class="modal" id="justi_{{loop.index}}_modal">

        <div class="modal-background"></div>
        <div class="modal-card">
          <div class="modal-card-body">
            <div class="columns is-variable-in-desktop is-6 is-multiline">
              {% for subi in justi.sub %}
              <div class="column">
                <h4 class="title is-4 has-text-centered">{{subi.title}}</h4>
                <a href="{{subi.page}}" class="button alt">
                  <i class="icon is-medium">
                    <i class="fas fa-chevron-right fa-lg"></i>
                  </i>
                  <span>Más Información</span>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
          <button class="modal-close is-large close-button" data-modal="justi_{{loop.index}}_modal" aria-label="close"></button>
        </div>
      </div>
      {% endif %}
      <div class="column is-one-third has-text-centered">
        <div class="card" id="justi_{{loop.index}}">
          {% if justi.img is not empty %}
          <div class="card-image">
            <img src="{{justi.img}}" alt="">
          </div>
          {% endif %}
          <div class="card-content content">
            {{justi.title}}
            {{justi.desc}}
          </div>
          {% if justi.page is not empty %}
          <div class="card-footer">
            <a href="{{justi.page}}" class="card-footer-item button alt {{ justi.sub is not empty ? 'opener' : ''}}" {{ justi.sub is not empty ? 'data-modal="justi_' ~ loop.index ~ '_modal" ' : ''}}>
              <i class="icon">
                <i class="fas fa-chevron-right"></i>
              </i>
              <span>Más Información</span>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <br>
  <div class="container has-medium-padding-top">
    <div class="columns is-centered">
      <div class="column is-two-thirds has-text-centered" style="border: 3px solid white">
          <a href="{{programa.link}}" class="subtitle is-4">Transfórmese en Líder INNOVADOR, en 4 días. Clic AQUÍ</a>
        
      </div>
    </div>
  </div>
</section>
<section class="section bluebg with-divider" id="publicos">
  <div class="container has-medium-padding-bottom">
    <div class="columns is-multiline has-text-centered is-centered">
      <div class="column is-two-thirds content">
        {{post.get_field('videos').title}}
      </div>
    </div>
  </div>
  <div class="container is-small">
    {% for vid in post.get_field("videos").vids %}
        <div class="columns is-variable-in-desktop is-6 is-vcentered {{loop.index is divisible by(2) ? 'reversed' : ''  }} has-small-padding-top has-small-padding-bottom">
          <div class="column is-half {{loop.index is divisible by(2) ? 'has-text-right-tablet' : ''  }}">
            <div class="content">
              {{vid.the_title}}
              {{vid.subtitle}}
              <a href="{{programa.link}}" class="button alt">
                <i class="icon">
                      <i class="fas fa-chevron-right fa-lg"></i>
                    </i>
                    <span>Más Información</span>
              </a>
            </div>
          </div>
          <div class="column is-half {{loop.index is divisible by(2) ? 'has-text-left' : 'has-text-right'  }}">

            <iframe width="400" height="200" src="https://www.youtube.com/embed/{{vid.video_link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        {{ loop.last ? '' : '<hr>'}}
        
    {% endfor %}
  </div>
  <div class="container has-medium-padding-top">
    <div class="columns is-centered is-multiline">
      <div class="column is-two-thirds has-text-centered" style="border: 3px solid white">
          <a href="{{programa.link}}" class="subtitle is-4">Transfórmese en Líder INNOVADOR, en 4 días. Clic AQUÍ</a>
        
      </div>
      <div class="column is-full has-text-centered has-medium-padding-top">
             
      </div>
    </div>
  </div>
</section>
<section class="section bluebg" id="lideres">
  <div class="container">
    <div class="columns is-variable-in-desktop is-8 is-vcentered is-multiline">
      <div class="column is-full has-text-centered">
        <h4 class="subtitle is-3">{{post.programs_title}}</h4> 
      </div>
    </div>
  </div>
</section>
<section class="section bluebg with-divider">
  <div class="container">
    {% for p in programas %}
    <div class="columns is-variable-in-desktop is-8 is-vcentered {{loop.index is divisible by(2) ? 'reversed' : ''  }} has-small-padding-top has-small-padding-bottom">
      <div class="column is-half {{loop.index is divisible by(2) ? 'has-text-right-tablet' : ''  }}  content">
        <h1>{{p.title}}</h1>
        {{p.front_desc}}
        <br>
        <a href="{{p.link}}" class="button alt">
          <i class="icon is-medium">
                <i class="fas fa-chevron-right fa-lg"></i>
              </i>
              <span>Más Información</span>
        </a>
      </div>
      <div class="column is-half">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{p.front_video_home}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    {% if loop.last == false %}
    <hr>
    {% endif %}
    {% endfor %}
  </div>
</section>

{% include 'snippets/contact.twig' %}

{% endblock %}