{% extends 'base.html.twig' %}
{% block content %}
{% include 'snippets/nav.twig' with { classes:"is-relative"} %}
<section class="section bluebg" id="home">
    <div class="container">
      <div class="columns has-text-centered is-multiline">
        <div class="column is-full">
          <h1 class="title is-1">
            {{post.title}}
          </h1>
          <h2 class="subtitle is-4">Por inscribirte al programa <strong>Creando empresas ÚNICAS y Líderes INNOVADORES</strong></h2>
        </div>
      </div>
    </div>
</section>
<section id="main" class="section bluebg">
  <div class="container">
    <div class="columns is-multiline is-centered">
      {% if post.get_field("online_payment").active %}
      <div class="column is-half">
        <div class="box">
          <h3 class="title is-3 has-text-centered">Pago Online</h3>
          <p class="content">{{post.get_field("online_payment").text}}</p>
          <img src="{{theme.link}}/dist/img/cards2.png" alt="credit card">
          <br><br>
          <a href="{{post.get_field("online_payment").link}}" class="button is-primary is-fullwidth">paga online aquí</a>
        </div>
      </div>
      <div class="column is-half">
        <div class="box">
          <h3 class="title is-4 has-text-centered">Consignación/Transferencia Bancaria</h3>
          {{post.get_field("offline_payment").content}}
        </div>
      </div>
      {% else %}
      <div class="column is-half">
        <div class="box">
          <h3 class="title is-3 has-text-centered">consignación/transferencia bancaria</h3>
          {{post.get_field("offline_payment")}}
        </div>
      </div>
      {% endif %}     
    </div>
  </div>
</section>
{% include 'snippets/contact.twig' %}
    
{% endblock %}