<section class="hero is-medium" id="home">
    
  <video autoplay loop  id="homevid" class="video-bg">
      <source src="{{ theme.link }}/dist/video/home.mp4" type="video/mp4">
  </video>

  <div class="mask"></div>
  <div class="hero-body">
    <div class="container">
      <div class="columns has-text-centered is-multiline">
        <div class="column is-full">
          <h1 class="title is-1">
            <small>aprende</small><br>
            <span class="big">liderazgo, innnovación y más</span>
          </h1>
          
        </div>
        <div class="column is-full">
          <a href="" id="playvideo">
            <i class="icon is-large">
              <span class="far fa-play-circle fa-5x"></span>
            </i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper white bordered">
      <div class="container">
        <div class="columns is-vcentered is-multiline">
          <div class="column is-narrow">
            <h5 class="title is-4 is-capitalized">hemos trabajado con</h5>
          </div>
          <div class="column has-text-centered">
            <img src="{{theme.link}}/dist/img/gobernacion.jpg" alt="peple plays">
          </div>
          <div class="column has-text-centered">
            <img src="{{theme.link}}/dist/img/rcn.jpg" alt="peple plays">
          </div>
          <div class="column has-text-centered">
            <img src="{{theme.link}}/dist/img/autonoma.jpg" alt="peple plays">
          </div>
          <div class="column has-text-centered">
            <img src="{{theme.link}}/dist/img/uninorte.jpg" alt="peple plays">
          </div>
        </div>
      </div>
  </div>
</section>